<div class="background-img">
    <img 
    src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" 
    alt="hero-image"/>
</div>
<div class="container global welcome grey-text text-darken-4">
    <div class="content">
        <h1>Welcome to our Book Store</h1>
        <p>This is the only Book Store you need because it contains all the books 
        you might need and presented in the most adequate way as you love.
        Get more than 50,000+ books all in one package.</br>
    <div class="action">
        <a href="/users/register" class="btn btn-flat white-text teal darken-2">Register</a>
        <a href="/users/login" class="btn btn-flat white-text orange darken-2">Login</a>
    </div>
</div>
<% if (typeof books != 'undefined' && books.length > 0){ %>
    <div class="books">
        <% books.forEach(book => {%>
            <div class="col s12 book">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src=<%= book.img %> style="max-width: 120px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p><%= book.summary %></p>
                        </div>
                        <div class="card-action">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
<% } %>