<div class="background-img">
    <img 
    src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" 
    alt="hero-image"/>
</div>
<div class="container global welcome grey-text text-darken-4">
    <div class="content">
        <h1>Welcome to our Book Store</h1>
        <p>This is the only Book Store you need because it contains all the books 
        you might need and presented in the most adequate way as you love. </br>
        <span>Get more than 50,000+ books all in one package.</span></br>
        Over <strong>20,000+ free</strong> Now available in the store...</p>
        <div class="action container">
            <a href="/users/register" class="btn btn-flat white-text teal darken-2">Register</button>
            <a href="/users/login" class="btn btn-flat white-text orange darken-2">Login</a>
        </div>
    </div>
</div>